<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.appointmentnav.AppointmentBill"></activity>
        <activity android:name="com.example.appointment.AppointmentBooking" />
        <activity android:name="com.example.homenav.RecyclerviewHolderEg" />
        <activity android:name="com.example.homenav.NoInternet" />
        <activity android:name=".PhoneNumber" />
        <activity android:name=".OTPverification" />
        <activity android:name="com.example.menu.MenuPage" />
        <activity android:name=".SignUp" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>